* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}

.post-con {
    padding: 30px;
}

.btn-con {
    display: flex;
    gap: 10px;
}

#header .header-con {
    padding: 20px;
    display: flex;
    justify-content: end;
    background: #15803d;
}

#header .navbar {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

#header .navbar a {
    color: #ffffff;
}
